import {Component} from '@angular/core';

@Component({
    selector: '{{componentName}}',
    templateUrl: './{{componentName}}.component.html',
    styleUrls: ['./{{componentName}}.scss']
})
export class {{className}} {}
