import {Component} from '@angular/core';

@Component({
    selector: '{{componentName}}',
    template: require('./{{componentName}}.component.html'),
    styles: [require('./{{componentName}}.scss').toString()]
})
export class {{className}} {}
